- var year = new Date().getFullYear()

- var nav = ['Dashboard', 'Messages', 'Devices', 'Users', 'Settings']

doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

		title Prodo

		link(rel="stylesheet", href="/stylesheets/avenir/avenir-next.css")
		link(rel="stylesheet", href="/stylesheets/style.css")

	body
		nav
			h1 Prodo
			if authUser
				each link in nav
					- var href = link.toLowerCase()
					if href === activeLink
						a(href="/#{href}", class="active")=link
					else
						a(href="/#{href}")=link
				block header
				.right
					span Hello, #{authUser.name}
					a(href="/users/logout") Logout
			else
				.right
					a(href="/users/login") Login
		section
			block content

		.modal-wrapper
			.modal
				.content

	script(src="/javascripts/jquery-2.2.0.min.js")
	script(src="/javascripts/scripts.js")
